<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="logback/logback-local.xml"/>
    </springProfile>
    <springProfile name="dev">
        <include resource="logback/logback-dev.xml"/>
    </springProfile>
    <springProfile name="uat">
        <include resource="logback/logback-uat.xml"/>
    </springProfile>
    <springProfile name="prod">
        <include resource="logback/logback-prod.xml"/>
    </springProfile>
</configuration>